project/kestra/gcp_manufacture.yaml
id: gcp_manufacture
namespace: manufacture
description: |
  The CSV Data used: https://www.kaggle.com/datasets/rabieelkharoua/predicting-manufacturing-defects-dataset

variables:
  file: "manufacturing_defect_dataset.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.manufacturing_defect_dataset"
  data: "{{outputs.download_kaggle_dataset.outputFiles['manufacturing_defect_dataset.csv']}}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"

  - id: download_kaggle_dataset
    type: io.kestra.plugin.scripts.shell.Commands 
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    warningOnStdErr: false
    outputFiles:
      - "*.csv"
    commands:
      - pip install kaggle
      - kaggle datasets download rabieelkharoua/predicting-manufacturing-defects-dataset
      - unzip predicting-manufacturing-defects-dataset.zip

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"
    
  # - id: for_each
  #   type: io.kestra.plugin.core.flow.ForEach
  #   values: "{{ outputs.download_kaggle_dataset.outputFiles | keys }}"  
  #   tasks:
  #     - id: upload_to_gcs
  #       type: io.kestra.plugin.gcp.gcs.Upload
  #       from: "{{ outputs.download_kaggle_dataset.outputFiles[taskrun.value] }}"
  #       to: "gs://{{ kv('GCP_BUCKET_NAME') }}/{{ taskrun.value }}"

  # - id: bq_manufacture
  #   type: io.kestra.plugin.gcp.bigquery.Query
  #   sql: |
  #     CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.manufacture`
  #     (
  #         unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
  #         filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),      
  #         ProductionVolume INTEGER OPTIONS (description = 'Number of units produced per day'),
  #         ProductionCost NUMERIC OPTIONS (description = 'Cost incurred for production per day'),
  #         SupplierQuality NUMERIC OPTIONS (description = 'Quality ratings of suppliers'),
  #         DeliveryDelay INTEGER OPTIONS (description = 'Average delay in delivery in days'),
  #         DefectRate NUMERIC OPTIONS (description = 'Defects per thousand units produced'),
  #         QualityScore NUMERIC OPTIONS (description = 'Overall quality assessment'),
  #         MaintenanceHours INTEGER OPTIONS (description = 'Hours spent on maintenance per week'),
  #         DowntimePercentage NUMERIC OPTIONS (description = 'Percentage of production downtime'),
  #         InventoryTurnover NUMERIC OPTIONS (description = 'Ratio of inventory turnover'),
  #         StockoutRate NUMERIC OPTIONS (description = 'Rate of inventory stockouts'),
  #         WorkerProductivity NUMERIC OPTIONS (description = 'Productivity level of the workforce'),
  #         SafetyIncidents INTEGER OPTIONS (description = 'Number of safety incidents per month'),
  #         EnergyConsumption NUMERIC OPTIONS (description = 'Energy consumed in kWh'),
  #         EnergyEfficiency NUMERIC OPTIONS (description = 'Efficiency factor of energy usage'),
  #         AdditiveProcessTime NUMERIC OPTIONS (description = 'Time taken for additive manufacturing'),
  #         AdditiveMaterialCost NUMERIC OPTIONS (description = 'Cost of additive materials per unit'),
  #         DefectStatus NUMERIC OPTIONS (description = 'defect status, 0 for Low Defects, 1 for High Defects')
  #     )
  #     PARTITION BY DeliveryDelay;
  
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"